---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>Who I Am</h1>
		<p>Hi, I'm FirstName LastName.</p>

		<h2>What I Do</h2>
		<p>I'm learning to code on Codecademy. My goals include learning to code, starting a company, and helping the world.</p>

		<h2>What I Like</h2>
		<ul>
			<li>Building things</li>
			<li>Solving problems</li>
			<li>Exploring new ideas</li>
		</ul>

		<h2>Who I Like</h2>
		<p>I admire curious, kind, and driven people.</p>

		<p>One of my favorite websites: <a href="https://www.google.com/">Google</a></p>
	</main>
</Layout>

<style>
	main {
		max-width: 640px;
		margin: 0 auto;
		padding: 2rem;
		line-height: 1.6;
	}
	h1 {
		margin-top: 0;
	}
	ul {
		padding-left: 1.25rem;
	}
</style>
